@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: pxoppins;
  background-color: #041334;
  color: white;
}
p {
  font-size: 16px;
}
.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  /* background-color: #333; */
  background-color: #0a1939;
  padding: 0 20px;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  background-color: #04aa6d;
  color: white;
}

.topnav .icon {
  display: none;
}

.topnav a:hover {
  background-color: #555;
  color: white;
}
.navbar-menu {
  display: flex;
  justify-content: space-between;
}
#logo {
  float: left;
  padding: 10px;
  height: 20px;
  width: auto;
}
#search {
  padding: 0 10px;
}
.none {
  display: none;
}
.section {
  padding: 50px 150px;
}

.table {
  border-spacing: 0 15px;
  width: 100%;
}
.crypt {
  color: #858585;
}
.cryp-name {
  width: auto !important;
}
.negative {
  color: #ff0000;
}
.positive {
  color: #14ff00;
}
.cryp-name {
  display: flex;
  list-style: none;
  width: 100px;
  align-items: center;
}
.cryp-name li {
  margin-right: 20px;
}
.cryp-name img {
  border-radius: 50%;
}
.table th,
td {
  text-align: center;
}
th:nth-child(1) {
  text-align: left;
}
.bar {
  width: 25%;
}
.content {
  margin: 10px;
}
.waves_container img {
  width: 80%;
}
.viewAll {
  display: flex;
  justify-content: center;
}
.btn {
  padding: 28px 36px;
  outline: none;
  border: none;
  background: rgb(61, 216, 238);
  background: linear-gradient(
    90deg,
    rgba(61, 216, 238, 1) 35%,
    rgba(9, 151, 232, 1) 100%
  );
  color: white;
  font-size: 24px;
  border-radius: 5px;
  padding: 10px 30px;
}

.map-section {
  display: flex;
  padding: 52px 100px;
  justify-content: space-evenly;
}

.map-area img {
  width: 100%;
}
.content-area {
  width: 464px;
}
.content-area h1,
.content-area p {
  padding: 25px;
}

.content-area h1 {
  font-size: 36px;
}

.assets {
  display: flex;
  margin-bottom: 30px;
}
.assets img {
  height: 80px;
  width: 80px;
}

.assets-content h6 {
  font-size: 18px;
  padding: 0 25px;
}
.assets-content p {
  padding: 10px 25px;
}
.reason-section {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}
.reason-child {
  width: 50%;
}
.reason-section h1 {
  font-size: 36px;
}
.reason-content {
  margin: 20px 0px;
  display: flex;
}
.check {
  margin: 0 10px;
  width: 30px;
  height: 30px;
}
.reason-section h3 {
  font-size: 20px;
  padding-bottom: 10px;
}

#footer {
  background-color: #00092a;
  display: flex;
}
.footer-chid {
  width: 50%;
}
.footer-content {
  display: flex;
  gap: 20%;
}
.content ul {
  list-style: none;
}
.content ul li {
  padding: 5px 0;
}
.heading {
  font-size: 24px;
}
#copyright {
  text-align: center;
  padding: 20px;
}
@media only screen and (max-width: 1024px) {
  .logo {
    width: 100px;
    height: auto;
    height: 20px;
    width: auto;
  }
  .section {
    padding: 20px 50px;
  }

  .map-section {
    flex-direction: column;
  }
  .btn {
    margin: 20px;
  }

  #wordmap {
    width: 100%;
    height: auto;
  }
  .content-area {
    width: auto;
  }
  .reason-section {
    flex-direction: column;
  }
  .reason-content p {
    padding: 0 10px;
  }
  .reason-section h1 {
    font-size: 30px;
  }
  .reason-child {
    width: 100%;
  }
  .waves_container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .waves_container img {
    width: 80%;
  }
  .footer-content {
    justify-content: center;
    display: flex;
  }
  .footer-para {
    padding: 15px 0px;
  }
  .para {
    padding: 10px 10px;
  }

  footer.section {
    padding: 19px 25px;
  }
  #footer {
    flex-direction: column;
  }

  .footer-chid {
    width: 100%;
  }
  #footer-logo {
    width: 20vh;
    height: auto;
  }
}

@media only screen and (max-width: 767px) {
  .topnav {
    padding: 0;
  }
  .topnav a {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .topnav.responsive {
    float: none;
  }

  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive {
    display: block;
    /* width: 100%; */
    text-align: left;
  }
  .section {
    padding: 20px 15px;
  }

  body {
    font-size: 16px;
  }
  p {
    font-size: 10px;
  }
  .footer-content {
    gap: 5%;
  }

  table tr,
  table th {
    font-size: 8px;
  }
  .bar {
    width: 45%;
  }
  .btn {
    margin: 10px;
    font-size: 10px;
  }

  .cryp-name img {
    width: 20px;
    height: auto;
    border-radius: 50%;
  }
  .map-section {
    padding: 10px;
  }

  .content-area h1 {
    font-size: 24px;
  }
  .content-area {
    width: auto;
  }
  .content-area h1,
  .content-area p {
    padding: 10px 5px;
  }
  .assets-content h6 {
    padding: 0 5px;
  }
  .reason-section h1 {
    font-size: 24px;
  }
  .check {
    margin: 0 10px;
    width: 20px;
    height: 20px;
  }

  .heading {
    font-size: 16px;
  }
  .content ul li {
    font-size: 10px;
  }
  .para {
    padding: 10px 0px;
  }
  .reason-section h3,
  .assets-content h6 {
    font-size: 16px;
  }
  .reason-section h1,
  .content-area h1 {
    font-size: 18px;
  }
  .reason-section {
    gap: 0px;
  }

  #footer-logo {
    width: 8rem;
    height: auto;
  }
}
